{% extends 'base.html' %} {% load static %} {% block home_status%}active{%endblock home_status %} 
{% block class %}class="sub_page"{% endblock class %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
{% block slider %}

<!-- slider section -->
<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Fast Food Restaurant</h1>
                <p>
                  Doloremque, itaque aperiam facilis rerum, commodi, temporibus
                  sapiente ad mollitia laborum quam quisquam esse error unde.
                  Tempora ex doloremque, labore, sunt repellat dolore, iste
                  magni quos nihil ducimus libero ipsam.
                </p>
                <div class="btn-box">
                  <a href="{% url 'Menu' %}" class="btn1"> Order Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Fast Food Restaurant</h1>
                <p>
                  Doloremque, itaque aperiam facilis rerum, commodi, temporibus
                  sapiente ad mollitia laborum quam quisquam esse error unde.
                  Tempora ex doloremque, labore, sunt repellat dolore, iste
                  magni quos nihil ducimus libero ipsam.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1"> Order Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Fast Food Restaurant</h1>
                <p>
                  Doloremque, itaque aperiam facilis rerum, commodi, temporibus
                  sapiente ad mollitia laborum quam quisquam esse error unde.
                  Tempora ex doloremque, labore, sunt repellat dolore, iste
                  magni quos nihil ducimus libero ipsam.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1"> Order Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ol class="carousel-indicators">
        <li
          data-target="#customCarousel1"
          data-slide-to="0"
          class="active"
        ></li>

        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>
<!-- end slider section -->
{% endblock slider %} {% block main %}

<!-- offer section -->

<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/o1.jpg' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>Tasty Thursdays</h5>
              <h6><span>20%</span> Off</h6>
              <a href="{% url 'Menu' %}">
                Order Now
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 456.029 456.029"
                  style="enable-background: new 0 0 456.029 456.029"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                      />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                      />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                      />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/o2.jpg' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>Pizza Days</h5>
              <h6><span>15%</span> Off</h6>
              <a href="">
                Order Now
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 456.029 456.029"
                  style="enable-background: new 0 0 456.029 456.029"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                      />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                      />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                      />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end offer section -->

<!-- food section -->

<!-- Add this meta tag to pass CSRF token -->
<meta name="csrf-token" content="{{ csrf_token }}">

<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Menu</h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">All</li>
      {% for i in list %}
      <li data-filter=".{{ i.category_name }}">{{ i.category_name }}</li>
      {% endfor %}
    </ul>

    <div class="filters-content">
      <div class="row grid">
        {% for j in items %}
        <div class="col-sm-6 col-lg-4 all {{ j.Category }}">
          <a href="{% url 'item_details' j.id %}" class="box-link">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/media/{{ j.Image }}" alt="{{ j.Image }}" />
                </div>
                <div class="detail-box">
                  <h5>{{ j.Item_name }}</h5>
                  <p>{{ j.description }}</p>
                  <div class="options">
                    <h6>${{ j.price }}</h6>
                    {% if user.is_authenticated %}
                    <a
                      href="javascript:void(0)"
                      class="add-to-cart"
                      data-item-id="{{ j.id }}"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 456.029 456.029"
                      >
                        <path
                          d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248s24.064,53.248,53.248,53.248 s53.248-23.552,53.248-53.248S374.784,338.862,345.6,338.862z"
                        />
                        <path
                          d="M439.296,84.91H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48 C9.216,10.67,0,19.886,0,31.15s9.216,20.48,20.48,20.48h41.472l31.744,216.064c4.096,27.136,27.648,47.616,55.296,47.616 h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4C457.728,97.71,450.56,86.958,439.296,84.91z"
                        />
                      </svg>
                    </a>
                    {% else %}
                    <a href="{% url 'User_Login' %}" class="btn btn-secondary">+</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="btn-box">
      <a href="">View More</a>
    </div>
  </div>

  <style>
    a.box-link {
      text-decoration: none;
      color: inherit;
    }
    a.box-link h5,
    a.box-link p,
    a.box-link h6 {
      color: inherit;
    }
    a.box-link:hover {
      text-decoration: none;
      color: inherit;
    }
  </style>
</section>

<!-- Toast Notification -->
<div id="toast-container"></div>

<script>
    $(document).ready(function () {
        $(".add-to-cart").click(function () {
            let productId = $(this).attr("data-item-id");
            let csrfToken = $('meta[name="csrf-token"]').attr("content");

            $.ajax({
                url: `/add-to-cart/${productId}/`,
                method: "POST",
                headers: { "X-CSRFToken": csrfToken },
                success: function (data) {
                    if (data.success) {
                        showToastMessage(data.message);
                    } else {
                        showToastMessage("❌ " + data.message, "error");
                    }
                },
                error: function () {
                    showToastMessage("❌ Failed to add item!", "error");
                }
            });
        });
    });

    function showToastMessage(message, type = "success") {
        let toastContainer = $("#toast-container");
        let toast = $("<div>")
            .addClass("toast-message " + (type === "success" ? "toast-success" : "toast-error"))
            .html(`<span class="toast-icon">${type === "success" ? "✅" : "❌"}</span> ${message}`);

        toastContainer.append(toast);
        setTimeout(() => toast.addClass("show"), 100);

        setTimeout(() => {
            toast.removeClass("show");
            setTimeout(() => toast.remove(), 500);
        }, 3000);
    }
</script>

<style>
    /* Toast Container */
    #toast-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Toast Message */
    .toast-message {
        background-color: #28a745;
        color: white;
        padding: 12px 18px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 250px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
    }

    /* Slide-in effect */
    .toast-message.show {
        transform: translateX(0);
        opacity: 1;
    }

    /* Error Toast */
    .toast-error {
        background-color: #dc3545;
    }

    /* Toast Icon */
    .toast-icon {
        font-size: 20px;
    }
</style>
<!-- client section -->
<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>What Says Our Customers</h2>
    </div>
    <div class="carousel-wrap row">
      <div class="owl-carousel client_owl-carousel">
        {% for k in review %}
        <div class="item">
          <div class="box">
            <div class="detail-box">
              <h6 class="customer-name">{{ k.user_name }}</h6>
              <h6 class="rating">Rating: {{ k.Rating }}/5</h6>
              <p class="testimonial">{{ k.Message }}</p>
            </div>
            <div class="img-box">
              <img
                src="/media/{{ k.c_image }}"
                alt="Customer {{ k.user_name }}"
                class="box-img"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
  />
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".client_owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: { items: 1 },
          600: { items: 2 },
          1000: { items: 3 },
        },
      });
    });
  </script>
</body>

<!-- end client section -->
{% endblock main %}
